**/target
**/node_modules
**/.idea
**/*.iml
**/nb-configuration.xml
**/.agent
**/*-REPORT.md
**/.vscode
/cni-plugins.tgz
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/tfplan
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/.terraform.tfstate.lock.info
**/report-azure.html
dist/
